body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    padding: 3rem 7rem;
}
h1{
    font-size:60px;
    margin-bottom: 0;
    font-family: 'Yeseva One', cursive;
}

/* hero start */
.hero-wrapper {
    display:flex;
    width: 70%;
    margin: 0 auto;
}
.hero-col{
    width: 100%;
}
.col-wrapper{
    width: 90%;
    margin: 0 auto;
}

.hero-title{
    margin-top: 130px;
    border-left: 4px solid #FF5959;
    border-radius: 2px;
    padding-left: 6px;
}
.hero-title>.hero-yellow{
    font-size: 60px;
    color: #FFAD5A;
    margin-top:10px;
    font-family: 'Yeseva One', cursive;
}
.hero-body{
    width: 50%;
}
.hero-btn{
    margin: 2rem 0;
}
.btn{
    width:172px;
    height:48px;
    background-color: #FF5959;
    color: #fff;
    text-decoration: none;
    padding:12px;
    border-radius: 5px;
}
.hero-img{
   text-align: center;
}
/* mission start */
.mission-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #13103A;
}
.mission-span{
    color: #FFAD5A;
}
.box-wrapper{
    display: flex;
    width: 70%;
    margin: 0 auto;

}

.box{
    height: 376px;
    width:360px;
    /* background: #000; */
    border-radius: 10px;
}
.box-content{
    padding:20px;
}
.box-para{
    font-size: 24px;
    font-weight: bold;
}
.box1{
    background: #4f9da634;
    margin: 20px;
}
.box2{
    background: #ff595938;
    margin: 20px;
}
.box3{
    background: #fff4d6e5;
    margin: 20px;
}

/* skill section */
.skill-bg{
    background-image: url('../images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-size:240px 240px;
    background-position: center left;
}

.skill-img{
    text-align: left;
 }

.skill-title{
    padding: 0;
}
.skill-title>h1{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0;
}
.skill-title>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
}
.skill-body{
    width: 100%;
}
.skill-wrapper {
    /* width: 100%; */
    /* margin: 0 auto; */
    margin-left: -160px;
}
.skill-col{
    width: 100%;
}

/* community section */
.community-bg{
    background-image: url('../images/shapes/shape-1.png');
    background-repeat: no-repeat;
    background-size:240px 240px;
    background-position: right  bottom;
}

.community-img{
    text-align: right;
}
.community-wrapper {
    margin: 0;
}

/* application */
.application-bg{
    background-image: url('../images/shapes/shape-3.png'),url('../images/shapes/shape-3.png'),url('../images/shapes/shape-3.png');
    background-repeat: no-repeat;
    background-size:230px 230px,120px 120px,100px 100px;
    background-position: top left,6% 90%,28% 70%;
}


.application-wrapper{
    margin-left: -50px;
}
.application-title{
    padding-top: 120px;
}
.application-title>h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.application-title>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
}
/* footer */
.application-title>h2>span{
    color: #FFAD5A;
}
/* footer */
.footer{
    width: 100vw;
    /* height: 128px; */
    background: #000;
    margin-top: 100px;
}
.footer-title{
    padding:2rem;
    font-style: italic;
}

.footer-title>h2{
    color: #fff;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 36px;
}
.footer-title>h2>span{
    color: #FF5959;
}
.footer-title>p{
    color: #fff;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}